* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-div {
    text-align: center;
    margin-top : 10px;
}

.btn {
    padding: 3px 8px;
    display: inline-block;
}

.text {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}

.dateText {
    font-size: 22px;
    margin-top: 15px;
}